{
  "openapi": "3.0.3",
  "info": {
    "title": "Apple Ads",
    "version": "5.5",
    "description": "Lightweight OpenAPI generated from Apple Ads documentation JSON."
  },
  "servers": [
    {
      "url": "https://api.searchads.apple.com/api/v5"
    }
  ],
  "paths": {
    "/adgroups/find": {
      "post": {
        "operationId": "rest_apple_ads_post_v5_adgroups_find",
        "summary": "Find Ad Groups (org-level)",
        "description": "Fetches ad groups within an organization.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/find-ad-groups-(org-level).json",
        "requestBody": {
          "required": true,
          "description": "The request body that includes the selector .  objects define what data the API returns when fetching resources.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Selector"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK Use this endpoint to find ad groups within your organization. Use a   to narrow results. If you don\u2019t specify selector conditions, all of your ad groups return in the API response. See the  object for field descriptions and selector condition operators.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ads/find": {
      "post": {
        "operationId": "rest_apple_ads_post_v5_ads_find",
        "summary": "Find Ads (org-level)",
        "description": "Fetches ads within an organization by selector criteria.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/find-ads-(org-level).json",
        "requestBody": {
          "required": true,
          "description": "The request body that includes the selector .  objects define what data the API returns when fetching resources.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Selector"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{adamId}/eligibilities/find": {
      "post": {
        "operationId": "rest_apple_ads_post_v5_apps_eligibilities_find",
        "summary": "Find App Eligibility Records",
        "description": "Fetches app eligibility records by adam ID.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/find-app-eligibility-records.json",
        "parameters": [
          {
            "name": "adamId",
            "in": "path",
            "required": true,
            "description": "A unique App Store app identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The request body that includes the selector .  objects define what data the API returns when fetching resources.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Selector"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns an  in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EligibilityRecordListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{adamId}/product-pages": {
      "get": {
        "operationId": "rest_apple_ads_get_v5_apps_product_pages",
        "summary": "Get Product Pages",
        "description": "Fetches metadata of all your custom product pages.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/get-product-pages.json",
        "parameters": [
          {
            "name": "adamId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the ad group.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductPageDetailListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{adamId}/product-pages/{productPageId}": {
      "get": {
        "operationId": "rest_apple_ads_get_v5_apps_product_pages",
        "summary": "Get Product Pages by Identifier",
        "description": "Fetches metadata for a specific product page.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/get-product-pages-by-identifier.json",
        "parameters": [
          {
            "name": "adamId",
            "in": "path",
            "required": true,
            "description": "Your unique App Store app identifier. Your adamId in the resource path must match the adamId in your campaign. Use  or  to obtain your adamId and correlate it to the correct campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "productPageId",
            "in": "path",
            "required": true,
            "description": "A unique string to identify a product page on . For example, 45812c9b-c296-43d3-c6a0-c5a02f74bf6e.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductPageDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{adamId}/product-pages/{productPageId}/locale-details": {
      "get": {
        "operationId": "rest_apple_ads_get_v5_apps_product_pages_locale_details",
        "summary": "Get Product Page Locales",
        "description": "Fetches product page locales by identifier.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/get-product-page-locales.json",
        "parameters": [
          {
            "name": "adamId",
            "in": "path",
            "required": true,
            "description": "Your unique App Store app identifier. Your adamId in the resource path must match the adamId in your campaign. Use  or  to obtain your adamId and correlate it to the correct campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "productPageId",
            "in": "path",
            "required": true,
            "description": "A unique string to identify a product page on . For example, 45812c9b-c296-43d3-c6a0-c5a02f74bf6e.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductPageLocaleDetailListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/budgetorders": {
      "get": {
        "operationId": "rest_apple_ads_get_v5_budgetorders",
        "summary": "Get all Budget Orders",
        "description": "Fetches all assigned budget orders for an organization.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/get-all-budget-orders.json",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of items to return per request. The maximum is 1000 for most objects.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset pagination that limits the number of returned records. The start of each page is offset by the specified number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetOrderInfoListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "rest_apple_ads_post_v5_budgetorders",
        "summary": "Create a Budget Order",
        "description": "Creates a budget order in the context of your org ID.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/create-a-budget-order.json",
        "requestBody": {
          "required": true,
          "description": "The request body that includes the details of the budget order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BudgetOrderCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetOrderInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/budgetorders/{boId}": {
      "get": {
        "operationId": "rest_apple_ads_get_v5_budgetorders",
        "summary": "Get a Budget Order",
        "description": "Fetches a specific budget order using a budget order identifier.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/get-a-budget-order.json",
        "parameters": [
          {
            "name": "boId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the budget order. You set the boID when creating a budget order through the Apple Ads UI.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetOrderInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "rest_apple_ads_put_v5_budgetorders",
        "summary": "Update a Budget Order",
        "description": "Updates an existing budget order.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/update-a-budget-order.json",
        "parameters": [
          {
            "name": "boId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the budget order.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The request body that includes the details of the budget order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BudgetOrderUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetOrderInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "rest_apple_ads_get_v5_campaigns",
        "summary": "Get all Campaigns",
        "description": "Fetches all of an organization\u2019s assigned campaigns.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/get-all-campaigns.json",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The number of items to return per request. The maximum is 1000 for most objects.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset pagination that limits the number of returned records. The start of each page is offset by the specified number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns a list of  objects in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "rest_apple_ads_post_v5_campaigns",
        "summary": "Create a Campaign",
        "description": "Creates a campaign to promote an app.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/create-a-campaign.json",
        "requestBody": {
          "required": true,
          "description": "The request body that includes the details of the campaign.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Campaign"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/find": {
      "post": {
        "operationId": "rest_apple_ads_post_v5_campaigns_find",
        "summary": "Find Campaigns",
        "description": "Fetches campaigns with selector operators.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/find-campaigns.json",
        "requestBody": {
          "required": true,
          "description": "The request body that includes the selector .  objects define what data the API returns when fetching resources.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Selector"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  objects in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaignId}": {
      "delete": {
        "operationId": "rest_apple_ads_delete_v5_campaigns",
        "summary": "Delete a Campaign",
        "description": "Deletes a specific campaign by campaign identifier.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/delete-a-campaign.json",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  objects in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoidResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "rest_apple_ads_get_v5_campaigns",
        "summary": "Get a Campaign",
        "description": "Fetches a specific campaign by campaign identifier.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/get-a-campaign.json",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "rest_apple_ads_put_v5_campaigns",
        "summary": "Update a Campaign",
        "description": "Updates a campaign with a campaign identifier.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/update-a-campaign.json",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The request body that includes the details of the campaign.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  objects in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaignId}/adgroups": {
      "get": {
        "operationId": "rest_apple_ads_get_v5_campaigns_adgroups",
        "summary": "Get all Ad Groups",
        "description": "Fetches all ad groups with a campaign identifier.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/get-all-ad-groups.json",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "rest_apple_ads_post_v5_campaigns_adgroups",
        "summary": "Create an Ad Group",
        "description": "Creates an ad group as part of a campaign.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/create-an-ad-group.json",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The request body that includes the details of the ad group and campaign.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaignId}/adgroups/find": {
      "post": {
        "operationId": "rest_apple_ads_post_v5_campaigns_adgroups_find",
        "summary": "Find Ad Groups",
        "description": "Fetches ad groups within a campaign.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/find-ad-groups.json",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The request body that includes the selector .  objects define what data the API returns when fetching resources.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Selector"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaignId}/adgroups/negativekeywords/find": {
      "post": {
        "operationId": "rest_apple_ads_post_v5_campaigns_adgroups_negativekeywords_find",
        "summary": "Find Ad Group Negative Keywords",
        "description": "Fetches negative keywords in a campaign\u2019s ad groups.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/find-ad-group-negative-keywords.json",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "objects define what data the API returns when fetching resources.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Selector"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns a list of  objects in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NegativeKeywordListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaignId}/adgroups/targetingkeywords/find": {
      "post": {
        "operationId": "rest_apple_ads_post_v5_campaigns_adgroups_targetingkeywords_find",
        "summary": "Find Targeting Keywords in a Campaign",
        "description": "Fetches targeting keywords in a campaign\u2019s ad groups.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/find-targeting-keywords-in-a-campaign.json",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The request body that includes the selector .  objects define what data the API returns when fetching resources.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Selector"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns a list of  objects in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaignId}/adgroups/{adgroupId}": {
      "delete": {
        "operationId": "rest_apple_ads_delete_v5_campaigns_adgroups",
        "summary": "Delete an Ad Group",
        "description": "Deletes an ad group with a campaign and ad group identifier.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/delete-an-ad-group.json",
        "parameters": [
          {
            "name": "adgroupId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the ad group.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoidResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "rest_apple_ads_get_v5_campaigns_adgroups",
        "summary": "Get an Ad Group",
        "description": "Fetches a specific ad group with a campaign and ad group identifier.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/get-an-ad-group.json",
        "parameters": [
          {
            "name": "adgroupId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the ad group.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "rest_apple_ads_put_v5_campaigns_adgroups",
        "summary": "Update an Ad Group",
        "description": "Updates an ad group with an ad group identifier.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/update-an-ad-group.json",
        "parameters": [
          {
            "name": "adgroupId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the ad group.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The request body that includes the details of the ad group and campaign.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdGroupUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaignId}/adgroups/{adgroupId}/ads": {
      "get": {
        "operationId": "rest_apple_ads_get_v5_campaigns_adgroups_ads",
        "summary": "Get All Ads",
        "description": "Fetches all ads assigned to an ad group.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/get-all-ads.json",
        "parameters": [
          {
            "name": "adgroupId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the ad group.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "rest_apple_ads_post_v5_campaigns_adgroups_ads",
        "summary": "Create an Ad",
        "description": "Creates an ad in an ad group with a creative.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/create-an-ad.json",
        "parameters": [
          {
            "name": "adgroupId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the ad group.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The request body that includes the details of the  object creation request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaignId}/adgroups/{adgroupId}/ads/{adId}": {
      "delete": {
        "operationId": "rest_apple_ads_delete_v5_campaigns_adgroups_ads",
        "summary": "Delete an Ad",
        "description": "Deletes an ad from an ad group.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/delete-an-ad.json",
        "parameters": [
          {
            "name": "adId",
            "in": "path",
            "required": true,
            "description": "A unique identifier representing the assignment relationship between an ad group and an .",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "adgroupId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the ad group.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoidResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "rest_apple_ads_get_v5_campaigns_adgroups_ads",
        "summary": "Get an Ad",
        "description": "Fetches an ad assigned to an ad group by identifier.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/get-an-ad.json",
        "parameters": [
          {
            "name": "adId",
            "in": "path",
            "required": true,
            "description": "A unique identifier representing the assignment relationship between an ad group and an .",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "adgroupId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the ad group.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error The Apple Ads server is temporarily down or unreachable. The request may be valid, but you need to retry it later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "rest_apple_ads_put_v5_campaigns_adgroups_ads",
        "summary": "Update an Ad",
        "description": "Updates an ad in an ad group.",
        "x-source-url": "https://developer.apple.com/tutorials/data/documentation/apple_ads/update-an-ad.json",
        "parameters": [
          {
            "name": "adId",
            "in": "path",
            "required": true,
            "description": "A unique identifier representing the assignment relationship between an ad group and an .",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "adgroupId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the ad group.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the campaign.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The request body that includes the details of the .",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK If the call succeeds, the API returns the  object in the response payload with an HTTP status code of 200(OK). If unsuccessful, the HTTP status code indicates the error with details in the error message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request An invalid query or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized An unauthenticated call fails to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Insufficient rights to the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found The API can\u2019t locate the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "The API calls exceed rate-limit thresholds. See the Rate Limits subsection of .",
[...]
